{% extends "dashboard_base.html" %}
{% block dashboard %}
 <style>
         .bg-img{
    background:url("/static/images/cover1.jpg");background-size: 100% 100%;

}
        .ch{
           background:rgba(115, 106, 196, 0.2);
        }
        
    </style>
    </head>

    <body>
       

      <div class="container-fluid px-0">
         <div class="row">
             <div class="col-md-12 bg-img py-4 p-5">
                 <h1 style="text-align: center;color:white">Dashboard &gt; book Appointment</h1>
             </div>
            
             <div class="col-md-8 mx-auto p-3 bg-light my-2">
               <form action="" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% if status %}
                  <div class="alert alert-primary">{{status}}</div>
                  {% endif %}
                  <div class="form-group ">
                      <div class="row">
                          <div class="col-md-6">
                              <label for="" class="font-weight-bold lb">Full Name:</label>
                              <input type="text" class="form-control" name="fname" placeholder="Enter First Name.."  value="{{user.first_name}} {{user.last_name}}">
                          </div><br/><br/><br/>
  
                          <div class="col-md-6">
                              <label for="" class="font-weight-bold lb">Email:</label>
                              <input type="email" class="form-control" name="email" placeholder="Enter Email.." value="{{user.email}}">

                          </div><br/><br/><br/>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-6">
                              <label for="" class="font-weight-bold lb">Contact:</label>
                              <input type="number" value="{{data.contact_number}}" class="form-control" name="contact" placeholder="Enter Contact Number.." pattern="[0-9]{10}" title="Number must contain 10 digits only!!"  >
                          </div><br/><br/><br/>
                          <div class="col-md-6">
                              <label for=""  class="font-weight-bold lb">Age(in years):</label>
                              <input type="number" class="form-control" name="age" placeholder="Enter Age.." min="15" max="99"  value="{{data.age}}">
                          </div><br/><br/><br/>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-6">
                              <label for="" class="font-weight-bold lb">City:</label>
                              <input type="text" class="form-control" name="city" placeholder="Enter City.."   value="{{data.city}}">
                          </div><br/><br/><br/>
                          <div class="col-md-6">
                              <label for="" class="font-weight-bold lb" >Gender:</label>
                              <select name="gender"  class="form-control" value={{data.gender}}>
                                  <option value="Male">Male</option>
                                  {% if data.gender == "Female" %}
                                  <option value="Female" selected>Female</option>
                                  {% else %}
                                  <option value="Female">Female</option>
                                  {% endif %}
  
                                  {% if data.gender == "Others" %}
                                  <option value="Others" selected>Others</option>
                                  {% else %}
                                  <option value="Others">Others</option>
                                  {% endif %}
                              </select>
                          </div><br/><br/><br/>
                      </div>
                  </div>
                <div class="form-group">
                  <label for=""  class="font-weight-bold lb">Occupation:</label>
                  <input type="text" class="form-control" placeholder="Enter Occupation" name="occ" value="{{data.occupation}}">
                </div></br>
  
                <div class="form-group">
                  <label for="" class="font-weight-bold lb">Message:</label>
                  <textarea name="message" placeholder="Write Message" class="form-control"  value="{{data.message}}"></textarea>
                </div><br/>
                <div class="form-group mx-auto">
                  <input type="submit" name="getappt" value="Get Appointment"class="btn btn-success" style="border-radius: 20px;">
                </div>
              </form>
              </div>
 </div>
         </div>
            
   </body>

{% endblock %}