{% extends "HeadFoot.html" %}
{% block myblock %}

{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
<style>
    .x{
        background:url("{% static 'images/BkApptImages/Banner2.jpg' %}");
        background-size: 100% 100%;
        background-size: cover;
        height:300px;
     }
     .wow h1{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size:small;
        color:whitesmoke;
        font-weight:100;
        text-align: center;
        margin-top: 100px;
    }
    h1{
        font-style: oblique;
        font-size: medium;
    }
    .myimg{
        height: 300px;   
    }
    .box:hover .show{
        background:rgba(0, 0, 0, 0.5) ;
        height:100%;
        width:100%;
        visibility:visible;
    } 
    .show{
        visibility:hidden;
        font-style:italic;
        font-size:18px;
        }    
</style>
</head>
<div class="container-fluid" >
    <!-- <h1>Hello There</h1> -->
    <div class="row x">
        <div class="col-md-12 h">
            <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
                <h1 style="font-size: 45px;text-align: center;">Our Departments ({{department|length}})</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row ">
        {% for d in department %}
            <div class="col-md-3 p-4 text-center mt-4">
                <h1>{{d.Dep_name}}</h1>
                <div style="box-shadow: 0px 0px 10px black ;height: 300px; background:url('/media/{{d.cover_pic}}');background-size:100% 100%;" class="myimg" >
                    <!-- <img src="/media/{{d.cover_pic}}" height="200" > -->
                    <!-- <a href="{% url 'all_treatments' %}?dep={{d.id}}"> -->
                    <!-- <a href = "{% url 'doctors'% }?dep={{d.id}}"> -->
                    <a href="{% url 'doctors' %}?dep={{d.id}}" id="{{d.id}}" >
                    <div class="box hover" style="height: 300px;box-shadow: 0px 0px 10px black ;">
                        <p class="show">{{d.description}}</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


