<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>forgot password</title>
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body{
            background-image:url("{% static 'images/ForgotPasswordImages/ForgPass.jpg' %}");height: 100px;width: 100%;
            -webkit-backgound-size:cover;background-size: cover;background-position: center center;
        }
        .form-area{
            width: 500px;height: 450px;margin:60px auto 0;position: relative;background: rgba(0,0,0,0.8);
            text-align: center;margin-top: 60px;padding: 35px;border: 3px solid #fff;
             -webkit-border-radius:70px 0 70px 0;
            -moz-border-radius:70px 0 70px 0; border-radius: 70px 0 70px 0;
        }
        .form-area h2{
            margin-bottom: 45px;color: #fff;font-family: 'hobo std', Times, serif;
        }
        .img-area{
            width: 60px;height: 60px;border-radius: 50%;background:paleturquoise;position: absolute;
            top: -5%;left: 45%;
        }
        .img-area img{
            width: 100%;border-radius: 50%;
        }
        input{
            width: 100%;height: 50px;border-radius: 15px 0 15px 0;border: 2px solid #fff;
            margin-bottom: 15px;background-color: transparent;color:white;
            font-family: 'hobo std', Times, serif;font-size: 15px;font-weight: bold;
        }
        .btn{
            font-family: 'hobo std', Times, serif;display: inline-block;height: 40px;width: 200px;
            line-height: 20px;overflow: hidden;position: relative;text-align: center;background:rosybrown;
            border-radius: 25px;color: #fff;text-transform: uppercase;margin-top: 20px;cursor: pointer;
            text-decoration: none;
        }
        .btn-text{
            display: block;height: 100%;position: relative;top: 0; -wedkit-transition:top 0.6s;
            -moz-transition:top 0.6s; -ms-transition:top 0.6s; -o-transition:top 0.6s;transition:top 0.6s;
            width: 100%; 
        }
        .btn:hover .btn-text{
            top: -100%;
        }
    </style>
</head>
<body>
    <div class="form-area">
        <div class="img-area">
            <img src="{% static 'images/ForgotPasswordImages/icon.jpg' %}" alt=""/>
        </div>
        <h2>Forgot Password</h2>
        <input type="password" placeholder=" Current Password">
        <input type="password" placeholder=" New Password">
        <input type="password" placeholder=" Confirm Password">
        <a href="#" class="btn">
            <span class="btn-text">Forgot or Change Password</span>
        </a>
    </div>
    </body>
</body>
</html>