<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title></title>

  <!-- css -->
  <link rel="stylesheet" href="{% static 'fonticon/css/all.min.css' %}">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
  <link rel ="stylesheet" type="text/css" href="{% static 'plugins/cubeportfolio/css/cubeportfolio.min.css' %}">
  <link href="{% static 'css/nivo-lightbox.css' %}" rel="stylesheet" />
  <link href="{% static 'css/nivo-lightbox-theme/default/default.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet" media="screen" />
  <link href="{% static 'css/owl.theme.css' %}" rel="stylesheet" media="screen" />
  <link href="{% static 'css/animate.css' %}" rel="stylesheet" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- boxed bg -->
  <link id="bodybg" href="{% static 'bodybg/bg1.css' %}" rel="stylesheet" type="text/css" />
  <!-- template skin -->
  <link id="t-colors" href="{% static 'color/default.css' %}" rel="stylesheet">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
  <div id="wrapper">
    <nav class="navbar navbar-custom navbar-fixed bg-white" role="navigation">
      <div class="top-area">
        <div class="container-fluid">
         <div class="row">
            <div class="col-sm-6 col-md-6">
              <p class="bold text-left">Monday - Saturday, 8am to 10pm </p>
            </div>
            <div class="col-sm-6 col-md-6">
              <p class="bold text-right">Call us now +62 008 65 001
                {% if user.is_authenticated %}
                <a href="{% url 'patient_dashboard' %}" class="text-light" style="font-size: 25px;">Welcome {{user.username}}</a>
                {% else %}
                <span>
                  <button class="btn btn-outline-light m-2" style="height:40px;">  <a href="" data-toggle="modal"
                    data-target="#mymodal">Login</a>
                  </button>
                  <button class="btn btn-outline-light m-2" style="height:40px;">
                    <a href="{% url 'SignUp' %}" class="mx-3">Register</a>
                  </button>
                </span>
              </p>
                {% endif %}
              </div>
              <div class="col-md-12 ">
                <div class="modal" id="mymodal">
                  <div class="modal-dialog  modal-md">
                    <div class="modal-content">
                      <div class="modal-header" style="background-color:lightgray;">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title" id="modal-login-label" style="color:black;">Login to our site</h3>
                        <p style="color: lightcoral;">Enter your username and password to log on:</p>
                      </div>
                      <div class="modal-body">
                        <form action="{% url 'login_page' %}" method="post">
                          {% csrf_token %}
                          <div class="form-group">
                            <label style="color: darkmagenta;">Username</label>
                            <div class="input-group">
                              <div class="input-group-addon ">
                                <span class="glyphicon glyphicon-user">
                                </span>
                              </div>
                              <input type="text" name="username" class="form-control" placeholder="Enter Username">
                            </div>
                          </div>
                          <div class="form-group">
                            <label style="color: darkmagenta;">Password</label>
                            <div class="input-group">
                              <div class="input-group-addon">
                                <span class="glyphicon glyphicon-lock" style="color:black">
                                </span>
                              </div>
                              <input type="password" name="password" class="form-control" placeholder="Enter Password">
                            </div>
                          </div>
                          <div class="form-group ">
                            <input type="checkbox" name="rememberme"> 
                            <label for="" style="color:black;">Remember me </label>&nbsp
                            <a href="{% url 'change_password' %}">Forgot Password?</a>
                          </div>
                          <div class="form-group">
                            <input type="submit" value="submit" class="btn btn-success">
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container navigation">
          <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{% url 'Homes' %}">
              <img src="{% static 'images/LogoImages/logs.png' %}" width="120px" height="60px" class="p-5">
            </a>
          </div>
          
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{% url 'Homes' %}">Home</a></li>
              <li>
                <a href="{% url 'Departments' %}" class="nav-item nav-link active">Department</a>
              </li>
              <li>
                <a href="{% url 'ContactUS' %}">ContactUs</a>
              </li>
              <li>
                <a href="{% url 'Reviewpage' %}">Feedback</a>
              </li>
              <li>
                <a href="{% url 'AboutUS' %}">AboutUS</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="badge custom-badge red pull-right">Extra</span>More <b class="caret"></b></a>
                <ul class="dropdown-menu">
              <li>
                <a href="{% url 'Homes' %}">View Home</a>
                </li>
            
              </ul>
            </ul>
          </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>  
    {% block myblock %}
            
    {% endblock %}
    <!--Footer-->
    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="wow fadeInDown" data-wow-delay="0.1s">
              <div class="widget">
                <h5>About NurtureHealth</h5>
                <p>Nurture Health is a Medical center which provides Medical Services.

                </p>
              </div>
            </div>
            <div class="wow fadeInDown" data-wow-delay="0.1s">
              <div class="widget">
                <h5>Information</h5>
                <ul>
                  <li><a href="{% url 'Homes' %}">Home</a></li>
                  <li><a href="{% url 'Departments' %}">Department</a></li>
                  <li><a href="{% url 'ContactUS' %}">Contact Us</a></li>
                  <li><a href="{% url 'AboutUS' %}">About Us</a></li>
                  <li><a href="{% url 'Reviewpage' %}">Feedback</a></li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="wow fadeInDown" data-wow-delay="0.1s">
              <div class="widget">
                <h5>NurtureHealth center</h5>
                <p> Nurture Health is a Mainly a Mumbai region Base center.
                </p>
                <ul>
                  <li>
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-calendar-o fa-stack-1x fa-inverse"></i>
                    </span> Monday - Saturday, 8am to 10pm
                  </li>
                  <li>
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                    </span> +62 0888 904 711
                  </li>
                  <li>
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                    </span>hello@NurtureHealth.com
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="wow fadeInDown" data-wow-delay="0.1s">
              <div class="widget">
                <h5>Our location</h5>
                <p>The Suithouse,Bombay,India,13453</p>
              </div>
            </div>
            <div class="wow fadeInDown" data-wow-delay="0.1s">
              <div class="widget">
                <h5>Follow us</h5>
                <ul class="company-social">
                  <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                  <li class="social-dribble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sub-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="wow fadeInLeft" data-wow-delay="0.1s">
                <div class="text-left">
                  <p>&copy;Copyright - NurtureHealth. All rights reserved.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--Footer End-->
    <!--Javascript Links-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollTo.js' %}"></script>
    <script src="{% static 'js/jquery.appear.js' %}"></script>
    <script src="{% static 'js/stellar.js' %}"></script>
    <script src="{% static 'plugins/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/nivo-lightbox.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
  </html>
