{% extends 'HeadFoot.html' %}
{% load static %}
{% block myblock %}
<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-md-6 bg-gray mx-auto my-5 p-5 text-center" style="box-shadow:0px 0px 10px black;margin-left: 300px;margin-top:100px;margin-bottom:100px;"> 
            <img src="{% static 'images/success.jpg' %}" alt="" height="300" width="300">
            <br>
            <h1 class="alert alert-success">PAYMENT SUCCESSFUL</h1>
            <div class="my-3">
                <a href="{% url 'cart' %}" class="btn btn-success">Continue Shopping</a>
                <a href="{% url 'patient_dashboard' %}" class="btn btn-primary">Go to dashboard</a>
                

            </div>
        </br>
        </div>
    </div>
</div>
{% endblock %}