<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Form</title>
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'Bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'fonticon/css/all.min.css' %}">
    <style>
        *{
            margin: 0; padding: 0;
        }
        body{
            background: url("{% static 'images/RegisFormImages/RegForm.jpg' %}") no-repeat center fixed; background-size: cover;
        }
        h1{
            text-align: center; color: white; background: rgba(0,0,0,0.5); 
            font-family: 'Times New Roman', Times, serif; padding: 15px;
        }
        .registration{
            margin: auto; width: 50%; text-align: center;color:white;
             background: rgba(0,0,0,0.5); border: 2px solid white;padding: 15px;
        }
        h2{
            padding: 5px;
        }
        #name{
            width: 40%;padding: 5px;border-radius: 5px;border: 1px solid white;outline: 0;font-family: 'Times New Roman', Times, serif;
            font-size: 18px;color: black;
        }
        #number{
            width: 32%;padding: 5px;border-radius: 5px;border: 1px solid white;outline: 0;font-family: 'Times New Roman', Times, serif;
            font-size: 18px;color: white;
        }
        #num{
             padding: 5px;border-radius: 5px;border: 1px solid white;outline: 0;background: none;color: white;

        }
        #check{
            font-family: 'Times New Roman', Times, serif;font-size: 18px;
        }
        #sub{
            width: 150px;padding: 5px;font-family: 'Times New Roman', Times, serif;font-size: 18px;
            border: 1px solid white;outline: 0;border-radius: 5px;background: none;color: white;
        }
        #sub:hover{
            background: #123456;
        }
        ::placeholder{
            color:gray;
        }
    </style>
</head>
<body>
    <h1>Nurture Health</h1>
    
     <div class="registration">
         <form id="registration" method="post" action="">
            <div class="col-md-12">
                
                <h1>SIGN UP HERE</h1>
                    {% csrf_token %}
    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">First Name</label>
                                <input type="text" class="form-control" placeholder="First Name" name="first">
                            </div>
                            <div class="col-md-6">
                                <label for="">Last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name" name="last">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <p id="result"></p>
                    </div>
                    <div class="form-group">
                        <label for="">Username</label>
                        <input type="text" class="form-control" placeholder="Enter Username" name="uname" id="username" onkeyup="checkuser()">
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" class="form-control" placeholder="Enter Password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" class="form-control" placeholder="Enter Email Address" name="email">
                    </div>
                    <div class="form-group">
                        <label for="">Contact Number</label>
                        <input type="number" class="form-control" placeholder="Enter Mobile Number" name="contact">
                    </div>
                    <div class="form-group">
                        <label for="">User Type</label>
                        <select name="utype" class="form-control">
                            <option value="doc">I am Doctor</option>
                            <option value="pat">I am Patient</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Sign Up" class="btn btn-success" id="submitbtn">
                    </div>
                    
                </div>
                
                </form>
     </div>
     
               



            <script>
                function checkuser(){
                    let un = document.getElementById("username").value;
                    $.ajax({
                        url:"{% url 'check_user' %}",
                        type:"get",
                        data:{usern:un},
                        success:function(data){
                            if(data=="Exists"){
                                $("#result").html("This username is already taken").addClass("text-danger");
                                $("#username").addClass("alert alert-danger");
                                $("#submitbtn").attr("disabled","disabled");
                            }else{
                                $("#result").html("");
                                $("#username").removeClass("alert alert-danger")
                                $("#submitbtn").removeAttr("disabled");
                            }
                        }
                    })
                    
                }
            </script>
            {% if status %}
                <script>
                    alert("{{status}}");
                    window.location="/Homes/"
                </script>
            {% endif %}
</body>
</html>